<body
  style="box-sizing: border-box;
        background: linear-gradient(120deg, #db6870, #091f43);
        width: 100%;
        height: 100%;"
>
  <div class="login">
    <div class="login_box">
      <div class="title">
        <h1
          style="
          text-align: center;
        letter-spacing: 1px;
        padding: 10px 0;
        border-bottom: 1px solid #adadad;
        width: 100%;
        font-size: 22px;
        font-weight: 600;
        color: #db6870;"
        >GROUPY <span>App</span></h1>
        <h2
          style="        
          margin-top: 5px;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: #091f43;"
        >Réinitialiser mon mot de passe</h2>
      </div>

      <form
        id="form"
        method="post"
        action="/"
        style="        
        padding: 0 40px;
        box-sizing: border-box;"
      >
        <div
          class="form-group"
          style="  
          width: 50%;      
          position: relative;
        border-bottom: 2px solid #adadad;
        margin: 40px 0;"
        >
          <label
            for="password"
            style="        position: absolute;
        top: 25%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: 0.5s;"
          >Nouveau mot de passe</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            style="        
        width: 50%;
        padding: 0 5px;
        height: 30px;
        font-size: 16px;
        background: none;
        outline: none;
        color: #091f43;"
          />

          <i class="far fa-eye" id="togglePassword"></i>
          <span></span>
          <div class="error"></div>
        </div>
        <div
          class="form-group"
          style="        
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 40px 0;"
        >
          <input type="password" id="pwd-repeat" name="pwd-repeat" required />
          <label
            for="pwd-repeat"
            style="        
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: 0.5s;"
          >Confirmez le mot de passe</label>
          <i class="far fa-eye" id="togglePassword2"></i>
          <span></span>
          <div class="error"></div>
        </div>

        <button
          type="submit"
          id="submit-btn"
          style="        width: 100%;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        background: linear-gradient(270deg, #db6870, #091f43);
        border: none;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.08);
        border-radius: 25px;
        cursor: pointer;
        outline: none;
        transition: all 0.2s;"
        >Réinitialiser</button>
      </form>
    </div>
  </div>

</body>